@import url('https://fonts.googleapis.com/css?family=Philosopher|Unna');

body {
    
    margin: 0;
    padding: 0;
    
}

.para {
    
  background-image: url("images/group.png");
    
  min-height: 700px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.paraq {
    
background-image: url("images/building.png");
    
  min-height: 70vh; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.pw {
    
  margin-right: auto;
  margin-left:  auto;
  max-width: 40%;
  font-size: 2vh;
    margin-bottom: 5%;
    font-family: 'Philosopher', sans-serif;

}

.header {
    
    text-align: center;
    font-size: 4vh;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.govbord {
    
    text-align: center;
    font-size: 5vh;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Philosopher', sans-serif;
    
}

.aye {
    
    
  margin-right: auto;
  margin-left:  auto;
  max-width: 70%;
    
}

.flex {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-content: space-between;
    width: 100%;
    
}

.catto {
    
    border-radius: 50%;
    border-color: red;
    margin-left: 10%;
    
}

.name {
    
    font-size: 3.5vh;
    margin-left: 25%;
    margin-top: 12%;
    font-family: 'Philosopher', sans-serif;
    
}

.neng {
    
    font-size: 2.3vh;
    width: 55%;
    margin-left: 25%;
    margin-top: 5%;
    font-family: 'Unna', serif;
    
}

.kou {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-content: space-between;
    width: 100%;
    margin-top: 10%;
    
}

.kou1 {
    
    font-size: 2.3vh;
    width: 55%;
    margin-left: 21%;
    margin-top: 5%;
    
}

.name1 {
    
    font-size: 3.5vh;
    margin-left: 21%;
    margin-top: 12%;
    font-family: 'Philosopher', sans-serif;
    
}

.cato {
    
    border-radius: 50%;
    border-color: red;
    margin-left: 10%;
    
}

.flexy {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-content: space-between;
    width: 100%;
    margin-top: 10%;
    margin-left: 14%;
    
}

.name2 {
    
    font-size: 3.5vh;
    margin-top: 12%;
    font-family: 'Philosopher', sans-serif;
    
}

.desp {
    
    font-size: 2.3vh;
    width: 99%;
    margin-top: 8%;
    
}

.name3 {
    
    font-size: 3.5vh;
    margin-top: 12%;
    font-family: 'Philosopher', sans-serif;
    
}

.despp {
    
    font-size: 2.3vh;
    width: 82%;
    margin-top: 8%;
    
}



@media only screen and (max-width: 1024px) {
    
    .pw {
        
        max-width: 50%;
        
    }
    
    .catto {
        
     border-radius: 50%;
    border-color: red;
    margin-left: 20%;
        
    }
    
    .cato {
        
    border-radius: 50%;
    border-color: red;
    margin-left: 5%;
        
    }
    
    .name, .neng {
        
        text-align: center;
        
    }
    
    .name {
        
        margin-left: 2%;
        
    }
    
    .neng {
        
        margin-left: 22%;
        
    }
    
    .kou1 {
    
    margin-left: 23%;
    text-align: center;
    
    }
    
    .name1 {
    
    margin-left: -2%;
    text-align: center;
    
    }
    
    .flexy {
        
        margin-left: 15%;
        width: 100%;
        text-align: center;
        
    }
    
    .name2 {
    
        margin-top: 12%;
        margin-left: 0%;
        text-align: center;
    
    }
    
    .desp {
        
        text-align: center;
        margin-bottom: 15%;
        
    }
    
    .despp {
        
        margin-left: 0%;
        width: 100%;
        margin-bottom: 15%;
        
    }
    
}

@media only screen and (max-width: 640px) {
    
    .pw {
        
        max-width: 80%;
        
    }
    
    .catto {
        
        margin-left: -10%;
        
    }
    
    .cato {
        
        margin-left: -10%;
        
    }
    
    .flexy {
        
        margin-left: 0;
        
    }
    
    .name {
        
        margin-left: 0;
        font-size: 2.4vh;
        font-style: oblique;
        
    }
    
    .name1 {
        
        margin-left: 0;
        font-size: 2.4vh;
        font-style: oblique;
        
    }
    
    .neng {
        
        width: 100%;
        margin-left: 0;
        
    }
    
    .kou1 {
        
        width: 100%;
        margin-left: 0;
        
    }
    
    .name2 {
        
        font-size: 2.4vh;
        margin-left: 0;
        font-style: oblique;
        
        
    }
    
    .name3 {
        
        font-size: 2.4vh;
        font-style: oblique;
        
    }
    
    .desp, .despp, .kou1, .neng {
        
        font-size: 2vh;
        
    }
    
    .paraq {
        
        min-height: 30vh;
        
    }
    
}